.App {
  text-align: center;
  background-color: #ffffff;
  height: 100vh;

}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}